# --- System Junk Files ---
.DS_Store
**/.DS_Store
.ipynb_checkpoints
**/__pycache__/
*/data/*


# --- Data Files (Never upload these) ---
*.csv
*.xlsx
*.json
*.pdf
**/*.csv
**/*.xlsx

# --- Environments ---
venv/
env/

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp

# Videos
*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.flv

# OpenCV data folders
11_OpenCV/data/Photos/
11_OpenCV/data/Videos/